BOTINE_API_KEY="Generate a 42 characters [a-zA-Z0-9] random string"
BOTINE_PORT=8325
OPENAI_API_KEY="Your Venice AI API key"
OPENAI_BASE_URL="https://api.venice.ai/api/v1"
OPENAI_MODEL="e2ee-gpt-oss-20b-p"
